BOT_TOKEN=YOUR_BOT_TOKEN_HERE
ADMIN_IDS=123456789
APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=YOUR_PROJECT_ID
APPWRITE_API_KEY=YOUR_API_KEY
APPWRITE_DATABASE_ID=databasebot
REGISTER_CREDITS=5
REFER_CREDITS=10
OUTLINE_KEY_COST=5
V2RAY_KEY_COST=8
SERVER_NAME=Lord Kazuma VPN
SERVER_LOCATION=Singapore
CHANNEL_URL=https://t.me/yourchannel
